<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">
const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '1fb99e2302msh01a84d95d59109cp1cc453jsn32731c716e00',
		'X-RapidAPI-Host': 'booking-com.p.rapidapi.com'
	}
};

fetch('https://booking-com.p.rapidapi.com/v1/hotels/search-by-coordinates?order_by=popularity&adults_number=2&units=metric&room_number=1&checkout_date=2022-12-12&filter_by_currency=AED&locale=en-gb&checkin_date=2022-12-11&latitude=48.210033&longitude=16.363449&children_number=2&children_ages=5%2C0&categories_filter_ids=class%3A%3A2%2Cclass%3A%3A4%2Cfree_cancellation%3A%3A1&page_number=0&include_adjacency=true', options)
	.then(response => response.json())
	.then(response => console.log(response))
	.catch(err => console.error(err));
</script>
</body>
</html>